.head{
    background-color: whitesmoke;
    margin: 0 0;
    padding: 0 0;
    height: 25vh;
    width: 100%;
}
.header-top{
    height: 60%;
    background-color: aquamarine;
}
.header-top-left{
    width: 30%;
    padding-top: 10px;
    float: left;
    font-size: 3rem;
    padding-left:3rem ;
}
.header-top-right{
    width: 70%;
    font-size: 1.5rem;
    padding-right: 3rem;
}
.search {
    position: relative;
}
.header-bottom{
    height: 40%;
    background-color: aquamarine;
}
.search input {
    width: 50%;
    height: 6vh;
    margin-left: 25%;
    text-indent: 25px;
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top:1px;
    right: 26%;
    height: 5vh;
    width: 100px;
    background: blue
}
.row2{
    padding-left: 20px;
    color: white;
    background-color: chocolate;
}
.row1{
    padding-left: 5%;
    background-color: whitesmoke;
    border: 0.5px solid white;
}
.row1 h3 a{
    color: dodgerblue;
    text-decoration: none;
}
.success{
    color:darkgreen;
}
/* Style for admin */
.donvi{
    color: blue;
    background-color: antiquewhite;
}
.t-tittle{
    background-color: blueviolet;
}
.bt{
    width: 23%;
    float:left;
}
.cbbutton{
    padding: 10px;
}
.cbbt{
    width: 50%;
    padding: 12px;
    margin: 0 25%;
}
.bt a{
    text-decoration: none;
}
#main-main{
    background-color:#f1f2f6;
}

main{ 
    min-height: 300px;
    width: 80%;
    background-color:cornsilk;
    margin:0px auto;
    padding:5px;
}

.main-content{
    flex-wrap: nowrap;
}
